<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.qc.flutter_device">
    <application>
        <provider
            android:name=".CameraPickerFileProvider"
            android:authorities="${applicationId}.camera.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_provider_paths" />
        </provider>
    </application>
</manifest>
